@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #314157;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #242f3f;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 4px;
}

::-webkit-scrollbar-track:hover {
    background-color: #ddd;
}



body {
    padding-bottom: 2rem;
}